* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

h1{
    font-size: 5rem;
    font-weight: 400;
}

h2{
    font-size: 3.25rem;
    margin: 0;
}

p.box-item{
    font-size: 1.5rem;
}

/* Navigation */

.navbar{
    height: auto;
}

.navbar-expand-lg{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 0px 50px;
}

#basic-navbar-nav{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.navbar-logo h1{
    font-weight: 500;
}

#basic-navbar-nav p{
    font-size: 2.5rem;
    margin: 1rem;
}

.navbar a{
    color: black;
    text-decoration: none;
    border-bottom: 3px solid #FFF;
}

.navbar a.active{
    border-bottom: 3px solid #000;
}

.navbar a.button{
    display: inline;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    background-color: black;
    color: white;
}

/* Landing/Introduction Text */

#landing{
    width: 65vw;
    margin: -50px 50px 30px;
}

#arrow.center{
    position: relative;
    width: 38px;
    height: 67px;
    margin: auto;
    padding: 20px 0px;
}

/* Project Flexboxes */

.flex-container{
    position: relative;
    top: 50px;
    margin: 30px auto;
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    align-content: space-between;
}

.box{
    /* height: 29vw; */
    margin: 0px auto 30px;
    overflow: hidden;
}

.box-item{
    width: 27.5vw;
    min-height: 4.16vw;
    padding: 15px;
    margin-top: 0px;
    margin-bottom: 8px;
    border-radius: 15px;
    background: #e4e4e4;
    
}

.box.expanded{
    display: flex;
    flex-flow: column nowrap;
    justify-content: stretch;
}

.box-item.expanded{
    flex-basis: 30%;
}

p.box-item{
    display: flex;
    align-items: center;
}

.box-img-sm{
    width: 13.5vw;
    height: 13.5vw;
    padding: 0;
}

.box-img-sm.left{
    margin-right: 4px;
}

.box-img-sm.right{
    margin-left: 4px;
}

.box-img-lg{
    width: 27.5vw;
    padding: 0;
}

@media only screen and (max-width: 1366px) {
    /* Between tablet and laptop */
    h1, .navbar-logo{
        font-size: 4rem;
    }

    h2{
        font-size: 2.75rem;
    }

    #basic-navbar-nav p{
        font-size: 2rem;
        margin: 1rem;
    }

}

@media only screen and (max-width: 768px) {
    /* Between iPhone X and tablet */
    h1, .navbar-logo{
        font-size: 3rem;
    }

    h2{
        font-size: 2rem;
    }

    #landing{
        width: auto;
    }

    #basic-navbar-nav p{
        font-size: 1.5rem;
        margin: 1rem;
    }
}
